body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h1 {
  color: black;
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
p {
  color: black;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  text-align: center;
}
nav {
  text-align: right;
}
nav li {
  display: inline;
  margin-left: 20px;
}
